<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h1>Creat New Listing</h1>
    
    <form method="POST" action="/listings" novalidate class="needs-validation">
<div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" required>
    <div class="valid-feedback">Title loke good</div>
</div>
       

<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
    <div class="invalid-feedback">Please enter short description</div>
</div>

<div class="mb-3">
    <label for="image" class="form-label">Image URL</label>
    <input name="listing[image]" placeholder="Enter image URL" type="text" class="form-control" >
   
</div>

<div class="row">
<diV class="mb-3 col-md-4" >
    <label for="price" class="form-label">Price</label>
    <input name="listing[price]" placeholder="Enter price" class="form-control" required>
    <div class="invalid-feedback">Please enter valid price</div>
</diV>


<diV class="mb-3 col-md-8">

    <label for="country" class="form-label">Country</label>
    <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required>
    <div class="invalid-feedback">Country name should be valid </div>
</div>

</div>

<diV class="mb-3">
    <label for="location" class="form-label">Location</label>
<input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required>
<div class="invalid-feedback">Location name should be valid </div>
</diV>
<br><br>

<button class="btn btn-dark">Add</button>
<br><br>
    </form>
</div>
</div>

</body>
</body>
