body{
    background-color: pink;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
.navbar{
    height: 5rem;
background-color: white !important;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
 color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
  text-decoration: underline;
}
.f-info-links{
    width: 100%;
    margin-top: 1rem;
}
.f-info-socials{
    width: 100%;


}

.f-info-links,
.f-info-socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.info { 
    
    text-align: center;
    height: 8rem ;
    background-color: #ebebeb;
   flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  
  bottom: 0;
  
}

/* card */
.listing-card{
    border: none ;
    margin-bottom: 2rem !important;
  
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    opacity: 1;
}
.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}
.listings-link{
    color: #222222 !important;
    text-decoration: none !important;
}
.card-img-top:hover{
    opacity: 0.85;
}

.card-img-show{
   
    margin-bottom: 1rem;
    height: 18rem;
    width: 40rem;
    border-radius: 2rem;
}
.edit-btn{
    height: 2.5rem !important;
    background-color: red !important;
}
.btns{
    display: flex;
}
.card{
    
    display: inline !important ;

}

.div a{
    color: #222222 !important;
    text-decoration: none !important;
}
.review-rating{
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
}


.nav-serach input{
    width: 20rem;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
    border-color: #fe424d;
}
.nav-serach input:hover{
    box-shadow: 1px 1px 1px 1px #f09399;

}
.nav-serach button{
  border-color: #fe424d;
    color: #fe424d;
}
.nav-serach button:hover{
    background-color:  #fe424d;
}
.nav-serach button:checked{
        background-color:  #fe424d;
}
.search{
    display: flex;
    margin: 2rem 0rem 2rem 7rem;
  
}
.search form button{
     border-color: #fe424d;
    color: #fe424d;
}
.search form button:hover{
       background-color:  #fe424d;
}
.search form button:checked{
      background-color:  #fe424d;
}
.index-top{
      display: flex;
      justify-content: space-between;
}
@media(max-width:390px){
    .search form input{
      height: 2rem;
      width: 6em;
font-size: smaller;
    }
     .search form button{
        height: 2rem;
        width: 3rem;
        font-size: xx-small;
     }
     .search {
        margin-left: 0rem !important;
        display: block;
        border: black;
     }
    .fillter{
        display: none;
    }
    .tax-toggle{
       display: none !important;
    }

}